@media screen and (max-width: 1000px) {
  .item3 {font-size: 25px;
  color: red;}
}

.item1 { grid-area: header }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

body {
  font-family: Georgia, serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

/* .item1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 30px;
  }

.item2 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: red;
  } */

  /* h4 {text-align: center; font-size: 15px} */

/* .item3 {
  justify-content: center;
  text-align: justify;
}

.item5 {
  text-align: center;
  font-size: 25px;
  color: blue;
  margin: 10px 0;
  }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
} */

.pagination {
  justify-content: center;
  margin: 10px 0;
}

a:link, a:visited {
	color: black;
}
